<%= form_for(@watchtick) do |f| %>
  <% if @watchtick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watchtick.errors.count, "error") %> prohibited this watchtick from being saved:</h2>

      <ul>
      <% @watchtick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tick %><br />
    <%= f.text_field :tick %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
